<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<a href="#" class="btn btn-mini"><i class="icon-thumbs-down"></i></a>
		<a href="#" class="btn btn-mini"><i class="icon-thumbs-up"></i></a>
	</div>
	<div class="btn-group">
		<a class="btn btn-mini" href="#">Reply</a>
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#">Share</a></li>
			<li><a href="#">Flag for spam</a></li>
		</ul>
	</div>
</div>
