<div class="row">
	<div class="span1">
		<img src="<?php echo $gravatarurl; ?>">
	</div>
	<div class="span8">
		<strong><a href="#">Somepony</a></strong>
		<time class="timeago" datetime="2012-06-06T13:37:42Z">June 6th, 2012</time>
		<span class="badge badge-success">103</span>
		<p>
		Sartorial tofu VHS whatever four loko. Pitchfork brunch mustache, master cleanse wayfarers photo booth farm-to-table organic. Marfa PBR fingerstache retro wolf semiotics mcsweeney's. American apparel wolf PBR cliche, viral retro chillwave pinterest mlkshk DIY freegan.
		</p>
	</div>
</div>
