	<div id="paste">

<ol>
<li><code>01234567890123456789012345678901234567890123456789012345678901234567890123456789</code></li>
<li class="even"><code><span class="hl_php_keyword">function</span> get_file(<span class="hl_php_variable">$file</span>)
</code></li>
<li class="odd"><code>{
</code></li>
<li class="even"><code>	<span class="hl_php_keyword">if</span>(!file_exists(<span class="hl_php_variable">$file</span>))
</code></li>
<li class="odd"><code>		<span class="hl_php_keyword">return</span> <span class="hl_php_string_sq">&#039;404&#039;</span>;
</code></li>
<li class="even"><code>
</code></li>
<li class="odd"><code>	<span class="hl_php_variable">$email</span> = md5(<span class="hl_php_string_sq">&#039;xles@mirakulix.org&#039;</span>);
</code></li>
<li class="even"><code>	<span class="hl_php_variable">$gravatarurl</span> = <span class="hl_php_string_sq">&#039;http://gravatar.com/avatar/&#039;</span>.<span class="hl_php_variable">$email</span>.<span class="hl_php_string_sq">&#039;?s=300&#039;</span>;
</code></li>
<li class="odd"><code>	<span class="hl_php_variable">$photourl</span> = <span class="hl_php_string_sq">&#039;http://placekitten.com/300/450/&#039;</span>;
</code></li>
<li class="even"><code>
</code></li>
<li class="odd"><code>	ob_start();
</code></li>
<li class="even"><code>	<span class="hl_php_keyword">include_once</span>(<span class="hl_php_variable">$file</span>);
</code></li>
<li class="odd"><code>	<span class="hl_php_variable">$buffer</span> = ob_get_contents();
</code></li>
<li class="even"><code>	ob_end_clean();
</code></li>
<li class="odd"><code>
</code></li>
<li class="even"><code>	ob_start();
</code></li>
<li class="odd"><code>	<span class="hl_php_keyword">include_once</span>(<span class="hl_php_string_sq">&#039;html/bacon.html&#039;</span>);
</code></li>
<li class="even"><code>	<span class="hl_php_variable">$bacon</span> = ob_get_contents();
</code></li>
<li class="odd"><code>	ob_end_clean();
</code></li>
<li class="even"><code>
</code></li>
<li class="odd"><code>
</code></li>
<li class="even"><code>	<span class="hl_php_variable">$buffer</span> = str_replace(<span class="hl_php_string_sq">&#039;&#123;bacon&#125;&#039;</span>,<span class="hl_php_variable">$bacon</span>,<span class="hl_php_variable">$buffer</span>);
</code></li>
<li class="odd"><code>
</code></li>
<li class="even"><code>	<span class="hl_php_keyword">return</span> <span class="hl_php_variable">$buffer</span>;
</code></li>
<li class="odd"><code>}
</code></li>
<li class="even"><code></code></li>
</ol>
	</div>

