<div class="row">
	<div class="span1">
		<img src="<?php echo $replygrav; ?>" class="pull-right" style="width:60%;">
	</div>
	<div class="span8">
		<strong><a href="#">Hipster Scootaloo</a></strong>
		<time class="timeago" datetime="2012-06-06T13:37:42Z">June 6th, 2012</time>
		<span class="badge badge-important">-103</span>
		<p>
			Next level odd future twee retro semiotics, freegan mumblecore letterpress photo booth pork belly flexitarian DIY chillwave forage tumblr. Terry richardson raw denim you probably haven't heard of them, mixtape mcsweeney's yr cliche cray kale chips. 
		</p>
	</div>
</div>
