<?php /*
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#f5f5f5',
      color: '#c0c0c0'
    },
    tweets: {
      background: '#ffffff',
      color: '#666666',
      links: '#00a0ab'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setUser('mrxles').start();
</script>
					<img src="<?php #echo $photourl; ?>">
					<hr>
					*/ ?>
					<?php include('html/usernav.html'); ?>
					<dl>
						<dt>Archive</dt>
						<dd>
							<?php include('html/archive.html'); ?>
						</dd>
					</dl>
					<hr>
					<dl>
						<dt>Categories</dt>
						<dd>
							<?php include('html/categories.html'); ?>
						</dd>
					</dl>
					<hr>
					<dl>
						<dt>tags</dt>
						<dd style="text-align:left;">
							<?php include('html/tags.html'); ?>
						</dd>
					</dl>
