<?php
$tags = array(
	'pony','Rainbow Dash','Fluttershy','Rarity','Twilight Sparkle',
	'Pinkie Pie', 'Applejack', 'Princess Luna',
	'gillade','också','den','med','Någonstans','där','sista','rutan',
	'är','vars','hund','blivit','dödad','av','världen','fattar','en',
	'jägare','äntligen','hur','hänger','ihop','så','står','jägaren',
	'och','blir','intervjuad','Ja','ju','mitt','fel','Jag','visste',
	'att','det','var','varg','markerna','men','jag','släppte','hunden',
	'ändå','Man','känner','sig','dum'
	);
natcasesort($tags);

foreach($tags as $tag) {
	echo "<a class=\"label\">{$tag}</a>\n";
}