<?php include('html/comment.html'); ?>
<hr>
<?php include('html/comment.html'); ?>
<?php include('html/reply.html'); ?>
<?php include('html/reply.html'); ?>
<hr>
<?php include('html/comment.html'); ?>
<hr>
<?php include('html/comment.html'); ?>
<hr>
<div class="row">
	<div class="span8 offset1">
		<h3>Post new comment</h3>
		<form>
			 <textarea class="input-xlarge ckeditor" id="textarea" name="moot"></textarea>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Save comment</button>
					<button class="btn">Cancel</button>
				</div>
		</form>
	</div>
</div>
