<!-- Start component model -->
			<div class="row show-grid">
				<div class="span9">
					<div class="form-actions">
						<div class="pull-right"> 
						<button type="submit" class="btn btn-primary">Keep draft</button>
						<button class="btn btn-danger">Remove post</button>
						<button class="btn btn-warning" disabled title="You're noth authorized to perform this action">Publish</button>
						</div>
					</div>
			
					<?php include('view.html'); ?>
					<hr>
					<h3>edit post</h3>
					<?php include('edit.html'); ?>
				</div>
				<div class="span3">
					<?php include('html/sidebar.html'); ?>
				</div>
			</div>
<!-- End component model -->
