<!-- Start component model -->
			<div class="row show-grid">
				<div class="span9">
					<?php include('summary.html'); ?>
					<hr>
					<?php include('summary.html'); ?>
					<hr>
					<?php include('summary.html'); ?>
					<hr>
					<?php include('summary.html'); ?>
					<hr>
					<?php include('summary.html'); ?>
					<hr>
					<ul class="pager">
						<li class="">
							<a href="#">&larr; Older</a>
						</li>
						<li class="">
							<a href="#">Newer &rarr;</a>
						</li>
					</ul>
				</div>
				<div class="span3">
					<?php include('html/sidebar.html'); ?>
				</div>
			</div>
<!-- End component model -->
