<div class="row">
<?php /*
	<div class="span1">
<dl class="">
	<dt>By</dt>
	<dd><a href="#">Somepony</a></dd>
	<dt>In</dt>
	<dd><a href="#">Fan fiction</a></dd>
	<dt>At</dt>
	<dd>2012-06-06 13:37</dd>
</dl>
	<img src="<?php echo $photourl; ?>">
	</div>
*/ ?>
	<div class="span9"> 

	<h2><a href="./?p=view_post">Fancy motherfucking Title!</a></h2>
	<p>
		Posted by <a href="#">Somepony</a>
		in <a href="#">Fan fiction</a>
		<time class="timeago" datetime="2012-06-06T13:37:42Z">June 6th, 2012</time>
	</p>
	{bacon}<a href="./?p=view_post">more ...</a>
	</div>
</div>
<?php /* 
<dl>
	<dt>Tags</dt>
	<dd>
		<a class="label">Pony</a>
		<a class="label">Rainbow Dash</a>
		<a class="label">Fluttershy</a>
		<a class="label">Rarity</a>
		<a class="label">Twilight</a>
		<a class="label">Pinkie Pie</a>
		<a class="label">Applejack</a>
		<a class="label">Princess Luna</a>
	</dd>
</dl>
*/
