<article>
<h1>Fancy motherfucking Title!</h1>
{bacon}
{bacon}
<?php include('html/paste.html'); ?>
{bacon}{bacon}
</article>
<div class="row">
	<div class="span1">
		<img src="<?php echo $gravatarurl; ?>" class="pull-right">
	</div>
	<div class="span8">
		<dl class="dl-horizontal">
			<dt>Posted by</dt>
			<dd><a href="#">Somepony</a></dd>
			<dd><time class="timeago" datetime="2012-06-06T13:37:42Z">June 6th, 2012</time></dd>
			<dt>Category</dt>
			<dd><a href="#">Fan fiction</a></dd>
			<dt>Tags</dt>
			<dd>
				<a class="label">Pony</a>
				<a class="label">Rainbow Dash</a>
				<a class="label">Fluttershy</a>
				<a class="label">Rarity</a>
				<a class="label">Twilight</a>
				<a class="label">Pinkie Pie</a>
				<a class="label">Applejack</a>
				<a class="label">Princess Luna</a>
			</dd>
		</dl>
	</div>
</div>
<hr>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="mrxles">Tweet</a>

<g:plusone size="medium"></g:plusone>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

<hr>

<span class="share"><img style="vertical-align:top;" src="img/feed-icon-28x28.png"></span>
<span class='share st_sharethis_large' displayText='ShareThis'></span>
<span class='share st_slashdot_large' displayText='Slashdot'></span>
<span class='share st_tumblr_large' displayText='Tumblr'></span>
<span class='share st_digg_large' displayText='Digg'></span>
<span class='share st_linkedin_large' displayText='LinkedIn'></span>
<span class='share st_twitter_large' displayText='Tweet'></span>
<span class='share st_facebook_large' displayText='Facebook'></span>
<span class='share st_email_large' displayText='Email'></span>
<span class='share st_googleplus_large' displayText='Google +'></span>